<!-- navbar -->
<app-navbar></app-navbar>


<!-- main -->
<div class="flex flex-col sm:flex-row">


  <!-- sidebar: todo input -->
  <app-sidebar (createEvent)="createTodo($event)"></app-sidebar>

  <!-- root todos container -->
  <div cdkDropListGroup
  class="w-full h-[60vh] bg-gray-400
  flex flex-col
  overflow-y-auto
  sm:mt-[10vh]
  sm:w-[85vw] sm:h-[90vh]  sm:flex-row sm:space-x-4 sm:p-2">

    <!-- Todo container-->
    <!-- <div class="
    w-[80%] h-[40vh]
    mx-auto mt-[10vh] mb-[10vh]
    sm:h-[70vh] sm:w-[45%] sm:mt-4 sm:mb-0"> -->
    <div class="flex flex-col w-[80%] mx-auto h-auto min-h-[40vh] mt-4
    sm:w-[45%]">
      <div class="text-white text-2xl w-full text-center bg-red-800 shadow-md shadow-black z-20">待處理{{ todos.length ?':'+todos.length:'' }}</div>
      <div
      cdkDropList
      [cdkDropListData]="todos"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="vertical"

      class="flex flex-col
      w-full
      h-full overflow-y-auto">

        <app-todo
        *ngFor="let todo of todos;let i =index;"
        [todos]="todos"
        [todo]="todo"
        [idx]="i"></app-todo>

      </div>
    </div>
    <!-- /Todo container-->

    <!-- in progress container-->
    <div class="flex flex-col w-[80%] mx-auto h-auto min-h-[40vh] mt-4
        sm:w-[45%]">
      <div
      class="text-black text-2xl w-full text-center bg-yellow-600 shadow-md shadow-black z-10">處理中{{ in_progress.length ?':'+in_progress.length:'' }}</div>

      <div
      cdkDropList
      [cdkDropListData]="in_progress"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="vertical"

      class="flex flex-col
      w-full
      h-full overflow-y-auto">
      <app-todo
      *ngFor="let todo of in_progress;let i =index;"
      [todos]="in_progress"
      [todo]="todo"
      [idx]="i"></app-todo>


    </div>
  </div>
    <!-- /in progress  container-->

    <!-- done container-->
    <div

    class="flex flex-col w-[80%] mx-auto h-auto min-h-[40vh] mt-4
    sm:w-[45%]">
      <div class="text-white text-2xl w-full text-center bg-green-700 shadow-md shadow-black z-10">已完成{{ done.length ?':'+done.length:'' }}</div>

      <div
      cdkDropList
      [cdkDropListData]="done"
      (cdkDropListDropped)="drop($event)"
      cdkDropListOrientation="vertical"
      class="flex flex-col
      w-full
      h-full overflow-y-auto">
        <app-todo
        *ngFor="let todo of done;let i =index;"
        [todos]="done"
        [todo]="todo"
        [idx]="i"></app-todo>

      </div>


    </div>
    <!-- /done container-->












  </div>
</div>
