<div class="relative w-full h-[30vh] bg-teal-900 mt-[10vh] flex flex-col
  sm:w-[15vw] sm:h-[90vh]">
  <textarea
  #newItem
  (input)="updateTmpVal($event);is_typing=true;"
  (blur)="is_valid=true;is_typing=false;"
    [ngClass]="chk_is_valid()" class="block
    bg-gray-800 outline-none p-2 text-gray-300 resize-none rounded-md
    w-[90%] h-[50vh]
    mx-auto mt-[2.5vh]
    focus:ring-gray-600 focus:ring-2
    transition-all duration-150
    sm:h-[20vh]" placeholder="新增待辦事項"></textarea>

  <!-- icon in textarea -->
  <div class="absolute
    bottom-[9vh] right-[5vh]
    w-[34px]  text-2xl text-white
    opacity-30
    sm:top-[18vh] sm:left-[2vh]" [ngClass]="!is_valid?'opacity-100':''">
    <ng-container *ngIf="is_valid && !is_typing">
      <i class="fa-solid fa-face-smile-wink"></i>
    </ng-container>
    <ng-container *ngIf="!is_valid && !is_typing">
      <i class="fa-solid fa-face-tired text-red-600"></i>
    </ng-container>

  </div>
  <button (click)="create(newItem)" class="bg-teal-600 text-xl rounded-md
    h-[10vh] w-[50%] m-2 p-2 mx-auto
    shadow-sm shadow-black
    hover:bg-teal-400
    sm:w-[90%] sm:h-[40px]
    ">新增</button>
</div>
